{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
{{!==========PRODUCT-CREATE=========================}}
<h1>Створення товару</h1>
<section class='card'>
  <div class='form'>
    <p class='form__title'>Інформація про товар</p>
    <form method='POST' action='/product-create'>
      <div class='form__content'>
        <div class='form__info'>
          <div class='form__product'>
            <label for='name' class='form__label'>Назва
              товару</label>
            <input
              type='name'
              name='name'
              class='form__input'
            />
          </div>
          <div class='form__product'>
            <label
              for='price'
              class='form__label'
            >Ціна</label>
            <input
              type='number'
              name='price'
              class='form__input'
            />
          </div>
        </div>

        <div class='form__product'>
          <label
            for='description'
            class='form__label'
          >Короткий опис товару</label>
          <textarea
            type='description'
            name='description'
            class='form__input'
          ></textarea>

        </div>
        <button class='form__button'>Створити товар</button>
      </div>
    </form>

  </div>
</section>
{{!==========PRODUCT-LIST=========================}}
<h1>Список товарів</h1>
<section class='card'>
  <div class='product__list'>

    {{#with data.products}}
      {{#if isEmpty}}
        <mark>Список пустий</mark>
      {{else}}
        {{#each list}}
          <div class='product__card'>
            <div class='product__name'>{{name}}</div>
            <div
              class='product__description'
            >{{description}}</div>
            <div class='product__id'>ID: {{id}}</div>
            <div class='product__row'>
              <div
                class='product__price'
              >Ціна:{{price}}</div>
              <button class='product__edit'><a
                  href='/product-edit?id={{id}}'
                >Редагувати</a></button>

            </div>
          </div>
        {{/each}}
      {{/if}}
    {{/with}}

  </div>
</section>
{{!==========PRODUCT-EDIT=========================}}
<h1>Редагування товару</h1>
<section class='card'>

  <p class='form__title'>Інформація про товар</p>
  <form method='POST' action='/product-edit'>
    <div class='edit'>
      <div class='edit__block'>
        <div class='edit__field'>
          <label for='name' class='form__label'>Нова назва
            товару</label>
          <input
            type='name'
            name='name'
            class='form__input'
            value='{{name}}'
          />
        </div>
        <div class='edit__field'>
          <label for='price' class='form__label'>Нова ціна</label>
          <input
            type='price'
            name='price'
            class='form__input'
            value='{{price}}'
          />
        </div>

        <div class='edit__field'>
          <label for='id' class='form__label'>ID</label>
          <input
            type='id'
            name='id'
            class='form__input'
            value='{{id}}'
          />
        </div>
      </div>

      <div class='edit__field'>
        <label for='description' class='form__label'>Новий
          короткий опис</label>
        <input
          type='description'
          name='description'
          class='form__input'
        />
        <div class='form-text'>Відображується у картці
          товару</div>
      </div>
      <div class='edit__button'>
        <a
          class='btn-primary'
          href='/product-list?name={{price}}'
        >Зберегти оновлення</a>
        <a
          class='btn-warning'
          href='/product-delete?id={{id}}'
        >Видалити товар</a>
      </div>
    </div>
  </form>
</section>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}