{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='main'>
     {{>heading title="Мої замовлення" }}
    {{#with data}}
<form method="POST" action="/purchase-list?id={{id}}" class="form-card">
   

{{>divider}}
  <a href="/purchase-info?id={{id}}" class="product__block">
 
    <div class="id"> ID:{{id}}</div>
    <div class="product">
        <h3>Товари</h3>
        <p>{{title}}</p>
    </div>
    <div class="sum"> 
        <h3>Сума замовлення</h3>
        <p>{{price}}</p>
    </div>
    <div class="bonus">
        <h3> Нараховані бонуси</h3>
        <p>{{bonus}}</p>
    </div>
  </div>
</a>
</form>
   {{/with}}
</span>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}